<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/user/css/comment.css">
</head>

<body>
    <div class="container">
        <div class="head">
        </div>
        <div class="text">
            <p>Bình Luận đi</p>
        </div>
        <div class="comment-box">
            <div class="content">
                <h2>Comment tại đây:</h2>
                <div style="display: flex;">
                    <img src="/img/logo-removebg.png" alt="">
                    <input type="text" value="Anonymous" class="user">
                </div>

                <div class="comment-input">
                    <input type="text" placeholder="Comment" class="userComment">
                    <div class="buttons">
                        <button type="submit" disabled id="publish">submit</button>
                        <div class="notify">
                            <input type="checkbox" class="notifyInput"> <span>Notify me</span>
                        </div>
                    </div>
                </div>
                <div class="comments"></div>
                <p>nếu lỗi có thể liên hệ với chúng tôi qua <a href="https://www.facebook.com/thieu879"
                        style="color: blue;">Facebook</a> or <a href="https://www.instagram.com/giathieu879/"
                        style="color: blue;">instagram</a></p>
            </div>
        </div>
    </div>
</body>
<script src="/assets/user/js/comment.js"></script>
<script src="https://kit.fontawesome.com/40a8505060.js" crossorigin="anonymous"></script>

</html>