<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/user/css/footer.css">
</head>
<body>
    <!-----------------------------------footer---------------------->
    <section class="footer-main">
        <div class="footer-top">
            <div class="footer-top-left">
                <p>Hãy kết nối với chúng tôi trên các mạng xã hội:</p>
            </div>
            <div class="footer-top-right">
                <a href="https://www.facebook.com/thieu879"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.instagram.com/giathieu879/"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://twitter.com/ThieuN31812"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://www.twitch.tv/thieunguyen879"><i class="fa-brands fa-twitch"></i></a>
                <a href="https://www.google.gg/?pli=1"><i class="fa-brands fa-google"></i></a>
                <a href="https://github.com/thieu879"><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="footer-buttom">
            <div class="footer-buttom-left">
                <img src="/assets/img/logo-removebg.png" alt="" width="100px">    
                <p>web xem phim</p>
            </div>
            <div class="footer-buttom-right">
                <ul>
                    <li><b>PRODUCT</b></li>
                    <li>Angular</li>
                    <li>React</li>
                    <li>Vue</li>
                    <li>Laravel</li>
                </ul>
                <ul>
                    <li><b>USEFUL LINKS</b></li>
                    <li>rules</li>
                    <li>Settings</li>
                    <li>Orders</li>
                    <li>Help</li>
                </ul>
                <ul>
                    <li><b>CONTACT</b></li>
                    <li>
                        <span>
                            <i class="fa-solid fa-house"></i>
                            Ở Nhà
                        </span>
                    </li>
                    <li>
                        <span>
                            <i class="fa-solid fa-envelope"></i>
                            nguyenthieu11022005@gmail.com
                        </span>
                    </li>
                    <li>
                        <span>
                            <i class="fa-solid fa-phone"></i>
                            0355483082
                        </span>
                    </li>
                    <li>
                        <i class="fa-solid fa-tty"></i>
                        0355483082
                    </li>
                </ul>
            </div>
        </div>
    </section>
</body>
    <script src="https://kit.fontawesome.com/40a8505060.js" crossorigin="anonymous"></script>
</html>