<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/user/css/header.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <!---------------------------header start------------------------------>
    <section class="header-main">
        <div class="header-left">
            <img src="/assets/img/logo-removebg.png" alt="" width="100px">
            <a href="">Trang chủ</a>
            <a href="">Thể loại</a>
            <a href="">Danh sách đã lưu</a>
            <a href="">Ngôn ngữ</a>
            <a href="">Phim mới/Phổ biến</a>
        </div>
        <div class="header-right">
            <span class="material-symbols-outlined">
                search
            </span>
            <a href="">
                <span class="material-symbols-outlined">
                    notifications
                </span>
            </a>
            <button><p style="color: aliceblue;">sign in</p></button>
        </div>
    </section>
</body>
</html>