<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/user/css/header.css">

</head>

<body>
    <!---------------------------header start------------------------------>
    <section class="header-main">
        <div class="header-left">
            <ul>
                <li>
                    <img src="/assets/img/logo-removebg.png" alt="" width="100px" />
                </li>
                <li>
                    <a href="">Trang chủ</a>
                </li>
                <li>
                    <a href=""><i class="fa-solid fa-film"></i> Phim</a>
                </li>
                <li>
                    <a href="">Thể loại <i class="fa-solid fa-caret-down"></i></a>
                    <div class="header-left-genres">
                        <h1
                            style="display: flex;align-items: center; justify-content: center;color: #000;padding: 5px 0 20px;">
                            thể loại
                        </h1>
                        <hr>
                        <div style="display: flex;">
                            <ul>
                                <li><a href="">Kinh dị</a></li>
                                <li><a href="">Kinh dị</a></li>
                                <li><a href="">Kinh dị</a></li>
                                <li><a href="">Kinh dị</a></li>
                            </ul>
                            <ul>
                                <li><a href="">Kinh dị</a></li>
                                <li><a href="">Kinh dị</a></li>
                                <li><a href="">Kinh dị</a></li>
                                <li><a href="">Kinh dị</a></li>
                            </ul>
                            <ul>
                                <li><a href="">Kinh dị</a></li>
                                <li><a href="">Kinh dị</a></li>
                                <li><a href="">Kinh dị</a></li>
                                <li><a href="">Kinh dị</a></li>
                            </ul>
                            <ul>
                                <li><a href="">Kinh dị</a></li>
                                <li><a href="">Kinh dị</a></li>
                                <li><a href="">Kinh dị</a></li>
                                <li><a href="">Kinh dị</a></li>
                            </ul>
                            <ul>
                                <li><a href="">Kinh dị</a></li>
                                <li><a href="">Kinh dị</a></li>
                                <li><a href="">Kinh dị</a></li>
                                <li><a href="">Kinh dị</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="">Danh sách đã lưu</a>
                </li>

                <li>
                    <a href="">Phim mới/Phổ biến</a>
                </li>
            </ul>
        </div>
        <div class="header-right">
            <ul>
                <li class="header-right-search">
                    <input type="text" name="" id="searchInput" placeholder="Search" style="width: 300px;" />
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </li>
                <!-- ngôn ngữ -->
                <li>
                    <a href=""><i class="fa-solid fa-language"></i> Ngôn ngữ <i class="fa-solid fa-caret-down"></i></a>
                    <div class="header-right-languages">
                        <ul>
                            <li>
                                <a href="">
                                    <div style="display: flex; gap: 5px;">
                                        <img src="/assets/img/vietNam.png" alt="" width="30px">
                                        <p class="vietnamese">Việt Nam</p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div style="display: flex; gap: 5px;">
                                        <img src="/assets/img/tiengAnh.png" alt="" width="30px">
                                        <p class="english">Tiếng Anh</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <!------------------- thông báo bằng js sử dụng ul -> li -> a--------------------->
                <li>
                    <a href="">
                        <i class="fa-regular fa-bell"></i>
                    </a>
                    <div class="header-right-bell">
                        <!--====== thêm vào đây =========-->
                    </div>
                </li>
                <li class="header-right-sign-in">
                    <button>
                        <p style="color: aliceblue">sign in</p>
                    </button>
                </li>
            </ul>
        </div>
    </section>

</body>
<script src="https://kit.fontawesome.com/40a8505060.js" crossorigin="anonymous"></script>

</html>