<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/footer.css">

</head>

<body>
    <!-----------------------------------footer---------------------->
    <section class="footer-main">
        <div class="footer-top">
            <div class="footer-top-left">
                <p>Hãy kết nối với chúng tôi trên các mạng xã hội:</p>
            </div>
            <div class="footer-top-right">
                <a href="https://www.facebook.com/thieu879"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.instagram.com/giathieu879/"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://twitter.com/ThieuN31812"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://www.twitch.tv/thieunguyen879"><i class="fa-brands fa-twitch"></i></a>
                <a href="https://www.google.gg/?pli=1"><i class="fa-brands fa-google"></i></a>
                <a href="https://github.com/thieu879"><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="footer-buttom">
            <div class="footer-buttom-left">
                <div class="footer-buttom-left-logo">
                    <img src="/assets/img/logo-removebg.png" alt="" width="300px">
                </div>
                <p>Khiến bạn hài lòng chính là phương châm của chúng tôi.</p>
            </div>
            <div class="footer-buttom-right">
                <ul>
                    <li><b>LIÊN HỆ NHÓM</b></li>
                    <li>thieunguyen11022005@gmail.com</li>
                    <li>linhne123@gmail.com</li>
                    <li>dungne123@gmail.com</li>
                    <li>hoangne123@gmail.com</li>
                </ul>
                <ul>
                    <li><b>TRỢ GIÚP</b></li>
                    <li><a href="">Hỗ trợ</a></li>
                    <li><a href="">Điều khoản</a></li>
                    <li><a href="">Thông báo pháp lý</a></li>
                    <li><a href="">Quyền riêng tư</a></li>
                </ul>
                <ul>
                    <li><b>LIÊN HỆ</b></li>
                    <li>
                        <span>
                            <i class="fa-solid fa-house"></i>
                            Đanh Trại - Yên Thọ - Ý Yên - Nam Định
                        </span>
                    </li>
                    <li>
                        <span>
                            <i class="fa-solid fa-envelope"></i>
                            nguyenthieu11022005@gmail.com
                        </span>
                    </li>
                    <li>
                        <span>
                            <i class="fa-solid fa-phone"></i>
                            0355483082
                        </span>
                    </li>
                    <li>
                        <i class="fa-solid fa-tty"></i>
                        0355483082
                    </li>

                </ul>
            </div>
        </div>
        </div>
        <div class="final-words">
            &#169;
            <p>2024 support website:</p>
            <p>getbootstrap.com</p>
        </div>
    </section>
</body>
<script src="https://kit.fontawesome.com/40a8505060.js" crossorigin="anonymous"></script>

</html>