* {
    margin: 0x;
    padding: 0;
    font-family: sans-serif;
    color: aliceblue;
}

a {
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
.footer-main {
    width: 100%;
    background-color: rgb(0, 0, 0);

}

/* .footer-main hr{
    width: 80%;
    position: absolute;
    left: 10%;
}    */


.footer-top-right {
    display: flex;
    gap: 40px;
    font-size: 24px;
}
.footer-right {
    display: flex;
    gap: 20px;
    align-items: center;
}
.footer-right a{
    width: 100px;
}
.footer-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-buttom {
    display: flex;
    justify-content: space-around;
}
.footer-buttom-left{
    /* width: 200px; */
    /* padding-top: 90px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-buttom-left p{
    font-size: 20px;
    color: burlywood;
}
/* .footer-buttom-left-logo {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    font-size: 50px;
} */

.footer-buttom-right {
    display: flex;
    gap: 50px;
}
.footer-buttom-right ul{
    padding-top: 30px;
}
.footer-buttom-right ul li{
    padding-top: 30px;
}
.footer-buttom-right ul li a{
    color: aliceblue;

}
.footer-main{
    padding-top: 20px;
    background-color: #272727;
}
.final-words {
    width: 100%;
    height: 50px;
    border: none;
    background-color: #444242;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}