body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    position: relative;
  }

  .header-main a {
    color: #fff;
  }

  .slideshow {
    position: relative;
    overflow: hidden;
  }

  .slideshow-item {
    display: none;
  }

  .slideshow-item.active {
    display: block;
  }

  .slideshow img {
    margin-top: 100px;
    margin-left: 14%;
    width: 70%;
  }

  .slideshow-content {
    margin-left: 14%;
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    z-index: 1;
  }

  .slideshow-content h1 {
    font-size: 24px;
    margin: 0;
  }

  .filmList {
    display: flex;
    overflow-x: hidden;
    gap: 20px;
    padding: 20px;
    scroll-behavior: smooth;
    padding-top: 30%;
  }

  .film-items {
    border: 1px solid black;
    min-width: 200px;
    text-align: center;
    border-radius: 8px;
    transition: transform 0.3s;
  }

  .film-items img {
    border-radius: 8px;
    width: 160px;
    height: auto;
  }

  .film-items:hover {
    border-color: white;
  }

  .film-items h2 {
    margin: 10px 0;
  }

  .nav-buttons {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    display: flex;
    width: calc(100% - 40px);
    padding: 0 20px;
    justify-content: space-between;
  }

  .nav-buttons a {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    /* border-radius: 50%; */
    margin-top: 30%;
    padding-top: 150px;
    opacity: 30%;
  }

  .nav-buttons a:hover {
    opacity: 100%;
    color: black;
  }

  body::-webkit-scrollbar {
    width: 10px;
  }

  body::-webkit-scrollbar-track {
    background: #280d0e;
  }

  body::-webkit-scrollbar-thumb {
    background-color: #816956;
    border-radius: 5px;
  }