body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("/assets/images/netflix_background.png");
    color: white;
}

.container {
    display: flex;
    flex-direction: column; /* Keep column for responsive vertical alignment */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100vw; /* Make the container full-width of viewport */
}

label {
    display: block;
    margin-bottom: 8px;
    color: #e5e5e5;
}

input,
select,
p {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #333;
    color: white;
}

.button-container {
    display: flex;
    justify-content: center;
}

button {
    background-color: #e50914;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ff3e4d;
}

.error {
    border: 1px solid #e50914;
}

h1 {
    color: #e50914;
}

.logo {
    max-width: 100%;
    margin-bottom: 20px;
}

#error-messages {
    color: red;
    margin-bottom: 10px;
}
