body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url("/vendor/images/background.jpg");
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.forgot-password-container {
    max-width: 400px;
    width: 100%;
}

.form {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.title {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.netflix-button {
    background-color: #e50914;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

.back-to-login {
    text-align: center;
    margin-top: 20px;
}

.back-to-login a {
    color: #e50914;
    text-decoration: none;
}