*{
    margin: 0px;
    padding: 0;
    font-family: sans-serif;
    color: #e5e5e5;
    font-family: sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.header-main {
    width: 100%;
    height: 70px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    z-index: 3;
    top: 0px;
    padding-bottom: 20px;
}

.header-left ul{
    display: flex;
    gap: 0px;
    align-items: center;
}

.header-right ul .header-right-sign-in button{
    background-color: red;
    border: none;
    border-radius: 5px;
    width: 70px;
    height: 30px;
}

.header-right input{
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: #2e2b2b;
}
.header-right ul{
    display: flex;
    gap: 20px;
    align-items: center;
}
.header-left a{
    width: 120px;
    padding: 10px;
}
.header-left a:hover{
    color: #d5d5d5;
}
.header-left a:active{
    background-color: rgb(160, 160, 160);
    transition: all 0.01s;
}
.header-right ul .header-right-sign-in button:hover{
    background-color: rgb(136, 0, 0);
}


/* --------------------genres------------------------- */
.header-left ul,li{
    position: relative;
}
.header-left-genres{
    position: absolute;
    background-color: #d5d0d0;
    width: 360px;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
    display: none;
}
.header-left-genres ul{
    display: flex;
    flex-direction: column;
}
.header-left-genres ul li a{
    color: #000;    
}
.header-left-genres ul li a:hover{
    color: yellow;
}

.header-left ul li:hover .header-left-genres{
    display: block;
}
/* -------------------language--------------------- */

.header-left-languages {
    position: absolute;
    background-color: #d5d0d0;
    height: auto;
    border-radius: 10px;
    margin-left: 10px;
    display: none;
    padding: 5px;
}

.header-left-languages ul {
    display: flex;
    flex-direction: column;
}

.header-left-languages ul li a p{
    color: #000;
}

.header-left-languages ul li a p:hover {
    color: yellow;
}

.header-left ul li:hover .header-left-languages {
    display: block;
}
/* ----------------Notification---------------- */
.header-right ul,li {
    position: relative;
}
.header-right-bell {
    position: absolute;
    background-color: #d5d0d0;
    height: 300px;
    border-radius: 10px;
    margin-left: 10px;
    display: none;
    padding: 5px;
}

.header-right-bell ul {
    display: flex;
    flex-direction: column;
}

.header-right-bell ul li a {
    color: #000;
}

.header-right-bell ul li a p:hover {
    color: yellow;
}

.header-right ul li:hover .header-right-bell {
    display: block;
}
/* ---------------------Search----------------- */
.header-right ul .header-right-search button{
    position: absolute;
    cursor: pointer;
    left: 246px;
    width: 70px;
    height: 31px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    background-color: red;
}
.header-right ul .header-right-search button:hover{
    background-color: rgb(136, 0, 0);
}