body {
    backdrop-filter: brightness(50%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    margin: 0;
    height: 100vh;
    display: flex;
    font-family: sans-serif;
  }
  .info-container {
    display: flex;
    position: relative;
    align-items: center;
  }
  .info-left {
    width: 60%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
  }
  .info-left .film-title {
    color: rgb(255, 0, 43);
    width: "300px";
    height: "145px";
  }

  .info-left .release-info {
    display: flex;
    color: white;
    gap: 0px;
    align-items: center;
  }

  .info-left .release-info p {
    width: 150px;
    font-size: 30px;
  }
  .info-left .release-info img {
    align-items: center;
  }
  .info-left .genres {
    display: block;
    gap: 40px;
  }
  .info-left .genres h2 {
    color: #816956;
  }
  .info-left .genres .genres-element {
    display: flex;
  }
  .info-left .genres .genres-element button {
    gap: 20px;
    color: rgb(255, 255, 255);
    padding: 10px;
    background-color: #592a28;
    opacity: 50%;
    border-radius: 10px;
    font-size: large;
    border: none;
    margin-left: 20px;
  }
  .info-left .genres .genres-element button:hover {
    opacity: 90%;
  }

  .info-left .cast {
    width: 1000px;
    display: block;
    gap: 40px;
  }
  .info-left .cast h2 {
    color: #816956;
  }
  .info-left .cast .cast-element {
    display: flex;
  }
  .info-left .cast .cast-element button {
    gap: 20px;
    color: rgb(255, 255, 255);
    padding: 10px;
    background-color: #592a28;
    opacity: 50%;
    border-radius: 10px;
    font-size: large;
    border: none;
    margin-left: 20px;
  }
  .info-left .cast .cast-element button:hover {
    opacity: 90%;
  }
  .info-left .directors {
    width: 1000px;
    display: block;
    gap: 40px;
  }
  .info-left .directors h2 {
    color: #816956;
  }
  .info-left .directors .directors-element {
    display: flex;
  }
  .info-left .directors .directors-element button {
    gap: 20px;
    color: rgb(255, 255, 255);
    padding: 10px;
    background-color: #592a28;
    opacity: 50%;
    border-radius: 10px;
    font-size: large;
    border: none;
    margin-left: 20px;
  }
  .info-left .directors .directors-element a:hover {
    opacity: 90%;
  }

  .info-left .summary {
    width: 1000px;
    display: block;
    gap: 40px;
  }
  .info-left .summary h2 {
    color: #816956;
  }
  .info-left .summary .summary-element {
    display: flex;
  }

  .info-left .summary .summary-element p {
    color: white;
  }

  .info-left .action-button {
    width: 1000px;
    display: block;
    gap: 40px;
  }
  .info-left .action-button h2 {
    color: #816956;
  }
  .info-left .action-button .action-button-element {
    display: flex;
  }
  .info-left .action-button .action-button-element button {
    gap: 20px;
    color: rgb(255, 255, 255);
    padding: 10px;
    background-color: #592a28;
    opacity: 50%;
    border-radius: 10px;
    font-size: large;
    border: 1px solid #592a28;
    margin-left: 20px;
  }
  .info-left .action-button .action-button-element button:hover {
    opacity: 90%;
    border: 1px solid white;
  }
  .info-left .action-button .action-button-element img {
    width: 20px;
    color: white;
    background-color: white;
  }

  .info-right {
    width: 20%;
    display: flex;
    flex-direction: column;
    pad: 40px ;
    justify-content: center;
    color: white;
    margin-left: 10%;
  }
  .info-right .background {
    width: 600px;
    height: 900px;
    background-color: #280d0e;
    opacity: 50%;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    overflow-y: auto;
  }

  .info-right .background .stream-info {
    display: flex;
    flex-direction: column;

    overflow-y: auto;
  }

  .info-right .background .stream-info a {
    text-decoration: none;
    width: 90%;
    display: flex;
    color: white;
    background-color: #000000;
    height: 100px;
    border: 1px solid #280d0e;
    border-radius: 15px;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    margin: 5px 10px;
  }

  .info-right .background .stream-info a:hover {
    border-color: white;
    opacity: 90%;
  }

  .info-right .background::-webkit-scrollbar {
    width: 10px;
  }

  .info-right .background::-webkit-scrollbar-track {
    background: #280d0e;
  }

  .info-right .background::-webkit-scrollbar-thumb {
    background-color: #816956;
    border-radius: 5px;
  }

  .info-right .background .stream-info img {
    width: 160px;
    height: auto;
  }

  .episode-link {
   background-color: lightgray;
  }